@import "./variables.scss";
//GLOBALS
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	// font-family: Arial, Helvetica, sans-serif;
	// font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 18px;
}
.App { //Main cointainer constraints for super large screens
	max-width: 1200px;
	margin:0 auto;
}

button {//OVERIDES (https://css-tricks.com/overriding-default-button-styles/)
	& {
		display: inline-block;
		border: none;
		// padding: 1rem 2rem;
		margin: 0;
		text-decoration: none;
		// background: #0069ed;
		color: #ffffff;
		font-family: sans-serif;
		font-size: 1rem;
		cursor: pointer;
		text-align: center;
		transition: background 250ms ease-in-out, 
					transform 150ms ease;
		-webkit-appearance: none;
		-moz-appearance: none;
	}
	
	&:hover,
	&:focus {
		background: $btn-color_hover;
	}
	
	&:focus {
		outline: 1px dotted #fff;
		outline-offset: -4px;
	}
	
	&:active {
		transform: scale(0.99);
	}
}
button {
	cursor: pointer;
	background: $btn-color;
	&:hover {
		background-color: $btn-color_hover;
	}
}
//HEADER
header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 3rem;
	h1 {
		text-transform: uppercase;
	}
	.search-container {
		margin: 1em;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		input, button {
			font-size: large;
			height: 2em;
		}
		input {
			padding-left: 0.5em;
		}
		button {
			padding: 0.3em;
			// border-radius: .2em;
		}
	}
}
.catch-search-container {
	max-width: 800px;
	margin: 0 auto;
	display: flex;
    flex-flow: column;
    align-items: center;
	h3 {
		text-align: center;
		margin: 2em;
	}
}
//BOOKS
.books-container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1200px;
	justify-content: space-around;
	width: 100%;
}

.book-cover, .flip-card {
	min-width: $book-width;
	min-height: $book-height;
	max-width: ($book-width * 2);
	max-height: ($book-height * 2);
	width: $book-width;
	height: $book-height; 
}
.book {
	flex: 1 0 30%;
	margin: 10px 0;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;
	// border: 1px solid #f1f1f1;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	// width: 100%;
	// height: 100%;
	width: $book-width;
	height: $book-height;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	margin: 0 auto;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: $book-width;
	height: $book-height;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back { //TODO: Amazing Art design breaking style
	background-color: $primary-color;
	color: white;
	transform: rotateY(180deg);
	padding: 1rem;
	
	h2 {
		margin-bottom: .5em;
	}
	a {
		padding: 1em;
		background-color: $btn-color;
		border-radius: .2em;
		text-decoration: none;
		color: black;
		display: inline-block;
		margin: 1em 0;
		max-width: $book-width * 0.75;
		text-align: center;
		&:hover {
			background: $btn-color_hover;
		}
	}
  }
//   .book:hover, .flip-card:hover, .flip-card-inner:hover, .flip-card-back:hover {
// 	width: $book-width * 2;
// 	height: $book-height * 2;
//   }